{
  "extends": [
    "airbnb-typescript"
  ],
	"parserOptions": {
		"project": "./tsconfig.json"
	},
  "rules": {
//    "no-undef": "off",
    "no-console": "warn",
    "promise/catch-or-return": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "lines-between-class-members": 0,
    "max-len": [
      "error",
      {
        "code": 120,
        "ignorePattern": "^import\\s.+\\sfrom\\s.+;$",
        "ignoreStrings": true,
        "ignoreRegExpLiterals": true,
        "ignoreTemplateLiterals": true
      }
    ],
    "no-trailing-spaces": "error",
    "arrow-parens": 0,
    "global-require": 0,
    "no-underscore-dangle": 0
  }
}
